
body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #121315;

    padding-right: 10px;
    padding-left: 10px;
}

.title-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 10px;

    width: 100%;
}

.title-page > div{
    border-radius: 15px;
}

.title__header__container {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.title__header{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;

    text-align: center;

    color: white
}

.title__card{
    color: white;
}

.title__desc {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
}

.section {
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;

    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;

    border-radius: 15px;
}

.img__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    margin-top: 140px;

    padding: 0px;
    border-radius: 25px;
    height: 100%;

    /* box-shadow: 0px 0px 30px 10px #f2f85a; */

    /* box-shadow:
    0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(255, 255, 255, 0.048),
    0 12.5px 10px rgba(255, 255, 255, 0.06),
    0 22.3px 17.9px rgba(255, 255, 255, 0.072),
    0 41.8px 33.4px rgba(255, 255, 255, 0.086),
    0 100px 80px rgba(255, 255, 255, 0.12)
    ; */
}

.paranoia-img {
    /* box-shadow:
    0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(255, 255, 255, 0.048),
    0 12.5px 10px rgba(255, 255, 255, 0.06),
    0 22.3px 17.9px rgba(255, 255, 255, 0.072),
    0 41.8px 33.4px rgba(255, 255, 255, 0.086),
    40px -30px 33.4px rgba(255, 255, 255, 0.1),
    -40px -30px 33.4px rgba(255, 255, 255, 0.10)
    ; */
}

.gif-container {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 200px;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-image: url(images/Asteroids-SS.png);
}

.img--asteroids {
    opacity: 1;
}

.img--asteroids:hover {
    opacity: 1;
    background-image: url(images/Asteroids.gif);
}

.img--large {
    max-height: 600px;
}

.img--medium {
    max-height: 400px;
    max-width: 800px;
}

.section__div {
    height: 60px;
    width: 100%;
    max-width: 1550px;

    border-radius: 10px;
    margin-top: 24px;
    margin-bottom: 24px;

    background-color: rgba(0, 0, 0, 0);
    
    /*box-shadow: 0px 0px 30px 10px #f2f85a; */
}

.text-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;

    padding: 10px;
    border-radius: 15px;
    margin-bottom: auto;

    color: #eef5eb;

    /* box-shadow:
    0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(255, 255, 255, 0.048),
    0 12.5px 10px rgba(255, 255, 255, 0.06),
    0 22.3px 17.9px rgba(255, 255, 255, 0.072),
    0 41.8px 33.4px rgba(255, 255, 255, 0.086),
    40px -30px 33.4px rgba(255, 255, 255, 0.1),
    -40px -30px 33.4px rgba(255, 255, 255, 0.10)
    ; */
}

.section__header{
    margin-bottom: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.sub-header {
    margin: 0;
    opacity: 0.6;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.section__text {
    font-family: monospace;
    font-size: 16px;
    font-weight: 400;
}

.play-btn {
    width: 140px;
    height: 56px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #eef5eb;
    text-decoration:none; 
    cursor:pointer;

    border: 0;
    border-radius: 25px;

    background-color: #500094;
}

.play-btn:hover {
    background-color: #eef5eb;

    color: #500094;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row {
    flex-direction: row;
}

.green-bg {
    background-color: #010203;
}

.blue-bg {
    background-color: #f2f85a;
}

.white-bg {
    background-color: white;
}

.mr {
    margin-right: 15px;
}

.ml {
    margin-left: 15px
}

.width--medium {
    width: 90%;
    max-width: 500px;
}

.align-end {
    align-self: flex-end;
}

/* Swap to mobile < 1200px */

@media screen and (max-width: 1050px) {
    .row, .row-reverse {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
    }
    .ml{
        margin-left: 0px;
    }
    .mr{
        margin-right: 0px;
    }
    .img--medium {
        max-width: 290px;
        max-height: 400px;
    }
    .img--large {
        max-width: 290px;
        max-height: 500px;
    }
    .section__div {
        height: 10px;
        background-color: black;
    }
  }

  .isLighted {
    visibility: hidden;
  }