
:root {
    --main-color: #2c3880;
    --secondary-color: #eef5eb;
    /* rgb(218, 237, 110) */
    --bg-color: #121315;
    --secondary-bg-color: rgb(218, 237, 110);
    --accent-color: #f15a22;
    --text-color: #eef5eb;
    --secondary-text-color: #121315;
}

body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: var(--bg-color);

    padding-right: 10px;
    padding-left: 10px;
}

.mobile-header {
    display: none;
}

.header {
    display: flex;
    justify-content: space-around;

    max-height: 600px;

    margin-top: 20px;

    width: 90%;
}

.header__img {
    border: 2px solid var(--accent-color);
    border-radius: 15px;
}

.header__title {
    font-family: 'Tektur', cursive;
    font-size: 96px;
    color: var(--text-color);

    margin-bottom: 0;
}

.secondary-header {
    margin-bottom: 20px;
    margin-top: 20px;
}

.title-page {
    display: grid;
    grid-template-columns: 5fr 9fr;
    grid-template-rows: 4fr 4fr;

    gap: 20px;


    width: 100%;
    height: 100%;

    min-width: 600px;
    min-height: 375px;
    max-width: 600px;
    max-height: 375px;

    border-radius: 15px;

    margin-top: 15px;
    
    box-shadow: rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(255, 255, 255, 0.1) 0px 16px 56px, rgba(255, 255, 255, 0.1) 0px 24px 80px;
}

.title-page > div{
    border-radius: 15px;
    border-style: solid;
    border-color: #006AA7;
    border-width: 5px;

    box-shadow: 0px 0px 4px 2px #FFCD00;


    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title__header__container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.title__header{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;

    text-align: center;

    color: var(--text-color);
}

.title__card{
    color: var(--text-color);
}

.title__desc {
    text-align: center;
}
.title__snd-desc {
    text-align: center;
}

.section {
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;

    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;

    border-style: solid;
    border-width: 5px;
    border-color: var(--bg-color);
    border-radius: 15px;

    background-image: linear-gradient(45deg, var(--accent-color) 0%, var(--bg-color) 15%, var(--main-color) 100%);

    overflow: hidden;

    box-shadow:  var(--secondary-color) 0px 0px 20px 5px;
}

.img__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    /* margin-top: 140px; */

    padding: 0px;
    border-radius: 25px;
    height: 100%;
    width: auto;
    height: auto;

    /* box-shadow: 0px 0px 30px 10px #f2f85a; */

    /* box-shadow:
    0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(255, 255, 255, 0.048),
    0 12.5px 10px rgba(255, 255, 255, 0.06),
    0 22.3px 17.9px rgba(255, 255, 255, 0.072),
    0 41.8px 33.4px rgba(255, 255, 255, 0.086),
    0 100px 80px rgba(255, 255, 255, 0.12)
    ; */
}

.paranoia-img {
    /* box-shadow:
    0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(255, 255, 255, 0.048),
    0 12.5px 10px rgba(255, 255, 255, 0.06),
    0 22.3px 17.9px rgba(255, 255, 255, 0.072),
    0 41.8px 33.4px rgba(255, 255, 255, 0.086),
    40px -30px 33.4px rgba(255, 255, 255, 0.1),
    -40px -30px 33.4px rgba(255, 255, 255, 0.10)
    ; */
}

.sword-girl__bg {
    background-image: url('../images/grass_tile.png');
    background-repeat: repeat;

    position: relative;

    width: 600px;
    height: 300px;

    border-radius: 15px;
}

.sword-girl__cursor {
    cursor: url('../images/knight_1.png'), auto;
    -webkit-animation: cursor 200ms infinite;
    animation: cursor 200ms infinite;
}

@-webkit-keyframes cursor {
    0% {cursor: url('../images/knight_1.png'), auto;}
    33% {cursor: url('../images/knight_2.png'), auto;}
    66% {cursor: url('../images/knight_3.png'), auto;}
    100% {cursor: url('images/knight_4.png'), auto;}
  }


@keyframes cursor {
    0% {cursor: url('../images/knight_1.png'), auto;}
    33% {cursor: url('../images/knight_2.png'), auto;}
    66% {cursor: url('../images/knight_3.png'), auto;}
    100% {cursor: url('../images/knight_4.png'), auto;}
  }

.sword-girl__bush {

    position: absolute;

    background-image: url('../images/bush_2.png');
    background-size: cover;
    height: 30px;
    width: 30px;
}

.sword-girl__bush.one {
    left: 10%;
    top: 15%;
}

.sword-girl__bush.two {
    left: 20%;
    top: 50%;
}

.sword-girl__bush.three {
    left: 35%;
    top: 80%;
}

.sword-girl__bush.four {
    left: 40%;
    top: 20%;
}

.sword-girl__bush.five {
    left: 50%;
    top: 43%;
}

.sword-girl__bush.six {
    left: 70%;
    top: 27%;
}

.sword-girl__bush.seven {
    left: 81%;
    top: 65%;
}

.sword-girl__bee {

    position: absolute;

    background-image: url('../images/bee_1\(1\).png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 120px;
    height: 120px;

    animation: fade-in 2s;
    -webkit-animation: fade-in 2s;
}

.sword-girl__bee.one {
    left: 8%;
    top: 0%;
}

.sword-girl__bee.two {
    left: 45%;
    top: -10%;
}

.sword-girl__bee.three {
    left: 70%;
    top: 25%;
}

.sword-girl__bee:hover {
    animation: poof 1000ms forwards;
    -webkit-animation: poof 1000ms forwards;
}

@keyframes poof {
    0% {background-image: url('../images/poof_1.png')}
    25% {background-image: url('../images/poof_2.png');}
    50% {background-image: url('../images/poof_3.png');}
    75% {background-image: url('../images/poof_4.png');}
    100% {background-image: none; opacity: 0;}
}

@-webkit-keyframes poof{
    0% {background-image: url('../images/poof_1.png')}
    25% {background-image: url('../images/poof_2.png');}
    50% {background-image: url('../images/poof_3.png');}
    75% {background-image: url('../images/poof_4.png');}
    100% {background-image: none; opacity: 0;}
}

@keyframes fade-in {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fade-in {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

.img--asteroids {
    opacity: 1;
}

.img--large {
    max-height: 600px;
}

.img--medium {
    max-height: 400px;
    max-width: 800px;
}

.section__div {
    height: 60px;
    width: 100%;
    max-width: 1550px;

    border-radius: 10px;
    margin-top: 24px;
    margin-bottom: 24px;

    background-color: rgba(0, 0, 0, 0);
    
    /*box-shadow: 0px 0px 30px 10px #f2f85a; */
}

.text-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;

    padding: 10px;
    margin: 15px;
    margin: 15px;

    border-radius: 15px;
    margin-bottom: auto;

    color: var(--text-color);

    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 3px 0px, rgba(255, 255, 255, 0.06) 0px 1px 2px 0px;

    /* box-shadow:
    0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(255, 255, 255, 0.048),
    0 12.5px 10px rgba(255, 255, 255, 0.06),
    0 22.3px 17.9px rgba(255, 255, 255, 0.072),
    0 41.8px 33.4px rgba(255, 255, 255, 0.086),
    40px -30px 33.4px rgba(255, 255, 255, 0.1),
    -40px -30px 33.4px rgba(255, 255, 255, 0.10)
    ; */
}

.section__header{
    margin-bottom: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.sub-header {
    margin: 0;
    opacity: 0.6;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.section__text {
    font-family: monospace;
    font-size: 16px;
    font-weight: 400;
}

.play-btn {
    width: 140px;
    height: 56px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-color);
    text-decoration:none; 
    cursor:pointer;

    border: 0;
    border-radius: 25px;

    background-color: var(--accent-color);
}

.play-btn:hover {
    background-color: var(--text-color);

    color: var(--accent-color);
}

.row-reverse {
    flex-direction: row-reverse;
}

.row {
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-color {
    background-color: #010203;
}

.secondary-color {
    background-color: var(--secondary-color);
}

.white-color {
    background-color: var(--text-color);
}

.mr {
    margin-right: 15px;
}

.ml {
    margin-left: 15px
}

.width--medium {
    width: 90%;
    max-width: 500px;
}

.align-end {
    align-self: flex-end;
}

.isLighted {
    visibility: hidden;
  }

.isLighted--svg {
    filter: drop-shadow(3px 5px 2px rgb(255, 255, 255));
}

.hidden-text {
    max-width: 120px;
    color: var(--main-color);
}

.bg-pattern--very-low {
    background-image: linear-gradient(0deg, var(--accent-color) 0%, var(--bg-color) 20%, var(--main-color) 150%);
}

.bg-pattern--low {
    background-image: linear-gradient(45deg, var(--accent-color) 0%, var(--bg-color) 30%, var(--main-color) 100%);
}

.bg-pattern--mid {
    background-image: linear-gradient(45deg, var(--bg-color) 0%, var(--accent-color) 25%, var(--bg-color) 50%, var(--main-color) 100%);
}

.bg-pattern--high {
    background-image: linear-gradient(45deg, var(--main-color) 0%, var(--bg-color) 30%, var(--accent-color) 55%, var(--bg-color) 75%, var(--main-color) 100%);
}

.bg-pattern--very-high {
    background-image: linear-gradient(45deg, var(--main-color) 0%, var(--bg-color) 60%, var(--accent-color) 90%, var(--main-color) 100%);
}

/* Swap to mobile < 1200px */

@media screen and (max-width: 1050px) {
    .row, .row-reverse {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
    }
    .img--medium {
        max-width: 290px;
        max-height: 400px;
    }
    .img--large {
        max-width: 290px;
        max-height: 500px;
    }
    .section__div {
        height: 10px;
        background-color: black;
    }
    .sword-girl__bg{
        display: none;
    }
    .text-container {
        margin-bottom: 15px;
    }
    .section {
        box-shadow: inset var(--secondary-color) 0px 0px 30px 0px;
    }
  }